<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>DM-diplom</title>
 </head>
 <body>
  <h1>Михайлов Дмитрий - сайт для диплома</h1>
  <!-- Комментарий --> Необходимо включить CPU, RAM, величину первого HDD, IP-адрес
  <p>Hostname is {{ ansible_hostname }}.</p>
  <p>Информация о CPU: {{ ansible_processor }}.</p>
  <p>Информация о RAM: {{ ansible_memory_mb }}.</p>
  <p>Информация о величине первого HDD: {{ ansible_facts['devices']['sda']['size']}}.</p>
  <p>Информация о IP-адресе: {{ ansible_all_ipv4_addresses }}.</p>
 </body>
</html>
